# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore environment variables
.env

# OS-specific files
.DS_Store

# IDEs
.vscode/
.idea/

# Log files
*.log
venv/
venv/
venv/
venv/
venv/
